<body>

<div align="center">
  <h1>Portal Landing Exercise</h1>
  <p>by: Edgar Diaz</p>
</div>

<div class="divComponents">


    <div><app-currentrisk></app-currentrisk></div><br>

    <div><app-riskovertime></app-riskovertime></div><br>
    

</div>


<div><app-generalrisk></app-generalrisk></div><br>

<div><app-goodsmovement></app-goodsmovement></div> 



</body>

  
  


